@use "vars" as *;

.c-fc{
	&-black{
		color: black !important;
	}
	&--white{
		color: white !important;
	}
	&--blue{
		color: $blue !important;
	}
	&--gray{
		color: $gray !important;
	}
	&--dark{
		color: #333 !important;
	}
	&--green{
		color: $green !important;
	}
	&--red{
		color: red !important;
	}
}

.c-bg{
	&-black{
		background: black !important;
	}
	&--white{
		background: white !important;
	}
	&--blue{
		background: $blue !important;
	}
	&--gray{
		background: $gray !important;
		color: $dark !important;
	}
	&--dark{
		background: #333 !important;
	}
	&--green{
		background: $green !important;
	}
	&--red{
		background: red !important;
	}
}





.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}




//btn
.c-btn{
	&__01{
		display: inline-block;
		padding: 10px 23px;
		border-radius: 5px;
		@include font-size(18);
		line-height: 1.4;
		color: white;
		cursor: pointer;
		border: none;
		outline: none;
		@include smooth-transition;
		background: $blue;
		&:hover{
			opacity: 0.7;
		}
		i{
			display: inline-block;
			margin: 0 7px 0 0 ;
		}
	}
}


.w-100{
	width: 100% !important;
}

