<main id="page-<%= pageData.template %>">
	<div class="heading-note">
		<h1 class="heading-note__ttl">Tổng quan</h1>
		<div class="heading-note__account">
			<span class="heading-note__account-name">Nguyễn Văn Toàn</span>
			<div class="heading-note__account-avatar">
				<img src="<%= RELATIVE_PATH %>img/avatar.png" alt="img">
			</div>
			<ul class="heading-note__account-profile">
				<li><a href=""><i class="fa-regular fa-pen-to-square"></i> Chỉnh sửa thông tin</a></li>
				<li><a href=""><i class="fa-regular fa-bell"></i> Thiết lập thông báo</a></li>
				<li><a href=""><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a></li>
			</ul>
			<span class="heading-note__account-close"></span>
		</div>
	</div>
	<div class="main-content">
		<div class="inner">
			<div class="dashboard">
				<div class="dashboard-task">
					<table>
						<tr>
							<th>ID</th>
							<th>Task</th>
							<th>Thời gian</th>
							<th>Status</th>
						</tr>
						<tr>
							<td>1</td>
							<td>Lịch gọi 1</td>
							<td>20/10/2024 8:00 AM</td>
							<td>Done</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Lịch gọi 2</td>
							<td>20/10/2024 8:00 AM</td>
							<td>Cancel</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Lịch gọi 4</td>
							<td>20/10/2024 8:00 AM</td>
							<td>Done</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Lịch gọi 4</td>
							<td>20/10/2024 8:00 AM</td>
							<td>Cancel</td>
						</tr>
					</table>
				</div>
				<div class="dashboard-table">
					<table>
						<tr>
							<th colspan="7">20/10/2014</th>
							<th colspan="5">27/10/2024</th>
						</tr>
						<tr>
							<th>M</th>
							<th>T</th>
							<th>W</th>
							<th>T</th>
							<th>F</th>
							<th>S</th>
							<th>S</th>
							<th>M</th>
							<th>T</th>
							<th>W</th>
							<th>T</th>
						</tr>
					</table>
				</div>
			</div>
			<div class="dashboard-chart"></div>

			<style>
				.dashboard-chart{
					width: 300px;
					height: 300px;
					border-radius: 50%;
					background: conic-gradient(
						#4040a3 0% 25%,
						#33a64c 0%  75%
					);
				}
			</style>
		</div>
	</div>
</main>
