<main id="page-<%= pageData.template %>">
	<div class="heading-note">
		<h1 class="heading-note__ttl">Quản lý lịch gọi / Gọi</h1>
		<div class="heading-note__account">
			<span class="heading-note__account-name">Nguyễn Văn Toàn</span>
			<div class="heading-note__account-avatar">
				<img src="<%= RELATIVE_PATH %>img/avatar.png" alt="img">
			</div>
			<ul class="heading-note__account-profile">
				<li><a href=""><i class="fa-regular fa-pen-to-square"></i> Chỉnh sửa thông tin</a></li>
				<li><a href=""><i class="fa-regular fa-bell"></i> Thiết lập thông báo</a></li>
				<li><a href=""><i class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a></li>
			</ul>
			<span class="heading-note__account-close"></span>
		</div>
	</div>
	<div class="main-content">
		<div class="inner">
			<div class="call-block">
				<div class="call-block--left">
					<div class="call-block__note">
						<table>
							<tr>
								<th>Tên phạm nhân : </th>
								<td>Trần Huyền Diệp</td>
							</tr>
							<tr>
								<th>Mã phạm nhân : </th>
								<td>PN007</td>
							</tr>
							<tr>
								<th>Cán bộ đăng ký : </th>
								<td>Lý Ngọc Anh</td>
							</tr>
							<tr>
								<th>Cán bộ phụ trách :</th>
								<td>Vũ Như Ngọc</td>
							</tr>
						</table>
					</div>
					<div class="call-block__steps">
						<div class="call-block__steps-item active">
							<h3 class="call-block__steps-ttl">Bước 1 : Kết nối ứng dụng</h3>
							<p>Họ và tên : Vũ Thế Ngọc</p>
							<p>CCCD: 0123456789 - Cấp Ngày 01/01/2020 Tại Hà Nội</p>
							<ul class="call-block__steps-img">
								<li>
									<img src="./img/test.jpg">
									<span class="call-block__steps-icon c-fc--green active"><i class="fa-solid fa-video"></i></span>
								</li>
								<li>
									<img src="./img/avatar.png">
									<span class="call-block__steps-icon c-fc--green active"><i class="fa-solid fa-video"></i></span>
								</li>
								<li>
									<img src="./img/test.jpg">
									<span class="call-block__steps-icon c-fc--green"><i class="fa-solid fa-video"></i></span>
								</li>
							</ul>
							<span class="call-block__steps-status c-bg--green">Thành công</span>
						</div>
						<div class="call-block__steps-item">
							<h3 class="call-block__steps-ttl">Bước 2 : Xác thực thông tin</h3>
							<ul class="call-block__steps-profile">
								<li>Xác thực Vũ THế Ngọc</li>
								<li>Kiểm tra xung quanh không có người thứ 2</li>
							</ul>
						</div>
						<div class="call-block__steps-item">
							<h3 class="call-block__steps-ttl">Bước 3 : Tiến hành cuộc gọi</h3>
							<ul class="call-block__steps-profile">
								<li>Gọi điện</li>
								<li>Lưu thông tin</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="call-block--right">
					<img src="./img/call.avif">
				</div>
			</div>
		</div>
	</div>
</main>
